html {
  height: 100%;
}

h1 {
  color: rgb(56, 89, 0);
  margin: 5px 0;
}

h2 {
  color: whitesmoke;
  margin: 5px 0;
  font-weight: 100;
  font-size: 1.2em;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightcyan;
  background-image: url(th.png);
}

section {
  flex: 1;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, rgb(108, 178, 111), transparent);
}

#myimg {
  padding: 5px;
  width: 108px;
  height: 108px;
}

#myimg img {
  border-radius: 50%;
  border: 4px solid white;
  background-color: rgb(32, 48, 5);
}

#header-info {
  flex: 1;
  padding: 10px;
  text-shadow: 1px 1px 2px #0000;
}

section {
  padding: 15px;
}

#teamsTable {
  width: 100%;
  border-collapse: collapse;
}

#teamsTable tfoot input [type="text"] {
  box-sizing: border-box;
  width: 100%;
}

#teamsTable th,
#teamsTable td {
  border: 1px solid #057988;
  padding: 5px;
}

#teamsTable th {
  background-color: #0798ab;
  color: whitesmoke;
}

#teamsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 5px;
}

.tfill {
  flex: 1;
}

footer {
  background-color: bisque;
  text-align: center;
  padding: 5;
}
